{{!< default}}

<main id="about-main" class="about-main outer">
    {{> "site-nav-toggle"}}
    <div class="about inner">
        <div class="leading-info">
            <h1>What Motivates Us</h1>
            <div class="what-motivates-us answer">
                <span class="bold">Our mission</span> is to build collaborative tools that help the fashion industry
                evolve with the values of modern consumers. (Because we <i>are</i> those consumers!)
                <br><br>
                <span class="bold">In the beginning,</span> we were meeting up with fashion influencers and brands in
                coffee shops to chat one-on-one. We built their websites for free (and still hold office hours) to
                understand where we could help.
                We learned a lot. <br><br>
                Specifically: <br>
                <span class="bold"></span>
                That <span class="bold">it's pretty hard for bloggers to make money</span> by organically endorsing
                garments both they and their audiences love, and very hard to monetize popular content.
                We also learned that <span class="bold">even billion dollar brands struggle to market to the right
                    consumers, and aren't sure whether their marketing efforts effectively convert.</span>
                <br><br>
                <span class="highlighted">Bottom line: <i>both fashion brands and influential fashion consumers rely on
                        ads to make money.</i></span>
                </p>
            </div>

        </div>

    </div>
</main>