{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner home-template">
        {{> "site-nav-toggle"}}

        {{!-- Blog header --}}
        <header class="blog-header">
        <h2 class="blog-title">The Voile Blog</h1>
            <h3 class="blog-description">Where fashion & tech perspectives get together.</h2>
        </header>

        {{!-- Blog Post Feed --}}
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>
