{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}
<header class="site-header outer {{#if feature_image}}"
    style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav-toggle"}}
        <div class="site-header-content">
            {{!-- <h1 class="site-title">{{name}}</h1> --}}
            <header class="podcast-header">
                <h2 class="blog-title">Fashion IRL</h2>
                <h3 class="podcast-subtitle">(The Voile Podcast)</h3>
                <h3 class="podcast-description">Voile CEO Rachael Nelson explores evolving perspectives within the
                    fashion community.</h3>
                <img class="podcast-icon" src="/assets/icons/apple-podcasts-icon.svg" />

            </header>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
            {{else}}
            <img src="/assets/images/podcast-placeholder.png" />
            <p class="podcast-empty-message">Stay tuned! We're in the editing room!</p>
            {{/foreach}}
        </div>
    </div>
</main>