@font-face {
    font-family: 'Caslon Graphique EF';
    src: url('CaslonGraphiqueEF.ttf') format('truetype'),
        url('caslongraphiqueef-webfont.woff2') format('woff2'),
        url('caslongraphiqueef-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('PermanentMarker-Regular.ttf') format('truetype');
}